:root {
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --bgColorOfCards: white;
  --bgColorOfBody: #f2f2f2;
  --colorOfBody:black;
  --divBackground:rgba(0, 0, 0, 0.05);
  --boxShadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  --fontSize20Color:green;
  --fontSize17Color:green;
}


body{
	overflow-x: hidden;
	background-color: white;
	background-color: var(--bgColorOfBody);
	color: var(--colorOfBody); 
}


.leftSidebarOptionsHolder, .rightSidebarOptionsHolder{
	background-color: var(--bgColorOfCards);
	margin-bottom: 20px;
	padding: 2px;
}

#hdr{
	border-bottom: var(--border);
	background-color: var(--bgColorOfCards);
	position: sticky;
	top: 0px;
	z-index: 200;
	padding-top: 1px;
	padding-bottom: 0px;
}

.hdrTable, .fixedLayoutRightSidebar{
	table-layout: fixed;
	width: 100%;
	max-width: 500px;

}

.hdrTable{
		text-align: center;
}

.hdrTable td:hover{
	background: var(--divBackground);
	cursor:pointer;
}

#hdr i, .fixedLayoutRightSidebar i {
	font-size: 25px;
}



.homeHdr td:not(.activeTab) {
 	opacity: 0.7;

}

.activeTab{
	opacity: 1;
	font-weight: bold;
	border-bottom: 3px solid var(--colorOfBody);
}

.stickyLeftOrRight{

	position: sticky;

}

.profileHader{
box-shadow: var(--boxShadow);
margin: 0 auto; 
z-index:2;
border-radius:15px; 
}

.profileHader table{
border-collapse: separate; 
border-spacing: 5px;
}

.profileHader table td{
	text-align:center;
}

.profileHader td button{
	width: 100%;
}

.jobMainInfo, .jobMainInfoClone{
	padding: 5px;
	position: relative;
	background-color: var(--bgColorOfCards);
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.jobMainInfoClone{
	border-radius: 8px;
}

.boxShadowed{
	box-shadow: var(--boxShadow);
}

.jobMainInfo:hover{
	box-shadow: var(--boxShadow);

	transform: translateY(-5px);
	cursor: pointer;
}

.gridHolder {
  display: grid;
  gap: 10px;
}

.gridHolder div{
	padding: 2px;
}



.fixedLayoutRightSidebar tr td:first-child{
	width: 50px;
	text-align: center;
}
.fixedLayoutRightSidebar tr{
	margin-top: 10px;
}

/** right sidevar **/

.rightSidebarOptionsHolder{
	list-style:none;
	padding: 5px;
}

.animateScaleUP{
	animation: scaleup 1s;
}

.scaleDownAnimation{
	animation: scaleDown 1s;
}

.option{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.option i{
	width:45px;
	text-align: center;
	font-size: 20px;
}

.option:hover {
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

form input, form select, form textarea{
	border:var(--border);
	background-color: var(--bgColorOfCards);
	color: var(--colorOfBody);
	display: block;
	padding:5px;
	margin-top: 5px;
	width:100%;
}

#jobDescription{
	width: 100%;
}

form button{
	text-align: center;
	font-weight: bold;
	min-width: 50%;
}
footer{
	height: 50px;
}

.rso a{
/*
right sidebar lower div
	
*/
padding-left:3px;

}

.topRightIcon{
	border: var(--border);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 15px;

}

.topRightIcon:hover{
	cursor: pointer;
	opacity: 0.8;
}




a{
	color: var(--colorOfBody)
}




#companyHolderInPostJobForm:hover .locatioNameAutoComplete,  #locationHolder:hover .locatioNameAutoComplete, #locationHolderCCA:hover .locatioNameAutoComplete{
	display: block;
	animation: scaleup 1s;
}

.locatioNameAutoComplete, .listHolder{
	background: var(--bgColorOfCards);

	box-shadow: var(--boxShadow);

	width: 100%;

z-index: 100;
	display: none;
	border-radius: 5px;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.listHolder{
	display: block;
}
@keyframes scaleup{
	from{
		scale:0;
	}

	to{
		scale:1;
	}
}

@keyframes scaleDown{
	from{
		scale:1;
	}

	to{
		scale:0;
	}
}


#locationHolder:not(:hover) .locatioNameAutoComplete {
	animation: scaleDown 1s;
}


.subHdrTable{
	width: 100%;
	text-align: center;
	border-collapse: separate; 
	border-spacing: 5px;
}

.subHdrTable td{
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
}

.activeSubHdr{
	font-weight: bold;
	color: white;
	background: green;
}

.subHdrTable td:not(.activeSubHdr){
	border:2px solid lightgreen;
}

.subHdrTable td:not(.activeSubHdr):hover{
	background: rgba(0, 255, 0, 0.3);
	cursor: pointer;
}


.generalHdrTable{
	width: 100%;
	border-collapse: separate; 
	border-spacing: 5px;
}

.container{
	margin-top: 15px;
}

#middleMainContent > div{
	animation: slideRight 0.3s;
}

.animationSlideRight{
	animation: slideRight 0.3s;
}

@keyframes slideRight{
	from{
		margin-left: -20px;
		width: 100%;
	}

	to{
		margin-left: 0px;
		width: 100%;
	}
}

.savedJobsSubHdrHolder{
	background: green;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;
	border-radius: 20px;
}

.savedJobsSubHdr{
	width: 100%;
	text-align: center;
	border-collapse: separate; 
	border-spacing: 5px;
}
.loginNameHolder{
	font-weight: bold;
}

.savedJobsSubHdr td{
	padding: 2px;
	border-radius: 20px;
}

.activeSavedJobsSubHdr{
	background: white;
	color: green;
}

.savedJobsSubHdr td{
	border: 3px solid transparent;
	font-weight: bold;
}

.savedJobsSubHdr td:not(.activeSavedJobsSubHdr){
	color: white;
	cursor: pointer;
}

.savedJobsSubHdr td:not(.activeSavedJobsSubHdr):hover{
	border: 3px solid white;	
}

small{
	font-size: 12px;
}


.lso{
	cursor: pointer;
}

.leftSidebarOptionsHolder div{
	padding-left:  5px;
	padding-right: 5px;
}

.formHolder{

	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
}

.fadeOutAnimation{
	animation: fadeOut 0.5s infinite;
}

@keyframes fadeOut{
	from{
		border-radius: 15px;
		background: var(--colorOfBody)
		opacity: 0.5;
	}

	to{
		border-radius: 15px;
		background: var(--colorOfBody);
		opacity:0.1;
	}
}

.fadeOut{
	animation: fadeOut 1.5s infinite;
}

.softLink{
	color: var(--colorOfBody);
	text-decoration: underline;
}

.softLink:hover{
	color: blue;
	cursor: pointer;
}


.orHolder::before,
.orHolder::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: var(--colorOfBody);
  opacity: 0.5;
}

.orHolder::before {
	left:10%;
	width:35%;
}

.orHolder::after {
	right:10%;
	width:35%;
}

.textUnderlineOnHover:hover{
	cursor: pointer;
	text-decoration: underline;
}

.lessOpacity{
	opacity: 0.8;
	font-weight: 550;
}

.fontSize20{
	font-weight: bold;
	color: var(--fontSize20Color);
}

.fontSize17{
	font-size: 17px;
	color: var(--fontSize17Color);
}


.outerOverlay{
	position: fixed;
	overflow-y:scroll;
	left: 0px;
	top: 0px;
	z-index: 400;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.scaleUpAnimation{
	animation: scaleup 1s;
}

.overlay{
	position: absolute;
	top:100px;
	left: 50%;
	animation: scaleup 1s;
	opacity: 1;
	z-index: 800;
	transform: translate(-50%, 0%);
	background: var(--bgColorOfCards);
	border: var(--border);
	padding: 10px;
	max-width: 400px;
	border-radius: 15px;
	width: 90%;
}


.btnHighlighted{
	font-weight: bold;
	color: white;
}

.btnSuccessMyOwn{
background: green;
border:3px solid var(--fontSize17Color);

}

.btnDangerMyOwn{
	background:red;
	border: 3px solid red;
}

.btnBordered{
	border:3px solid green;
	font-weight: bold;
	color:var(--fontSize17Color);
	border:3px solid var(--fontSize17Color) ;
}

.simpleTable{
	width: 100%;
	text-align: center;
	border-collapse: separate;
	table-layout: fixed;
	border-spacing: 10px;
	font-size: 15px;
}

.simpleTable td{
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
}

.simpleTable td:hover{
	cursor: pointer;
}

.fixedTable{
	width: 100%;
	table-layout: fixed;
}
.cursorPointer:hover{
cursor: pointer;
}

.hdrPreLoader{
	min-height: 50px;
}

.blockPreLoader{
	min-height: 30vh;
	width: 100%;
	background: var(--bgColorOfCards);
	margin-bottom: 20px;
}

#preLoaderHolder{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
}

.line-animation{
 position: fixed;
  width: 0;
  height: 0;
  box-shadow: 0px -30px 30px -30px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  animation: moveLine 2s linear forwards infinite;
}

@keyframes moveLine {
  0% {
    width: 30%;
    height: 30%;
    left: 0;
    top: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    left: calc(100% - 2px);
    top: calc(100% - 2px);
  }
}

.longButton{
	min-width: 50%;
	font-weight: bold;
}


.gridHolderModified, .gridHolderModified2{
	display: grid;
	gap:10px;
}


.ml5{
	margin-left: 5px;
}

@media (max-width: 2000px) {


.gridHolderModified, .gridHolderModified2, .gridHolder{
	grid-template-columns: 1fr 1fr;
}


.applicantOptions{
	visibility: hidden;
}

.jobMainInfo:hover .applicantOptions{
	visibility: visible;
}


}

@media (max-width: 500px) {


.gridHolderModified, .gridHolderModified2, .gridHolder{
	grid-template-columns: 1fr;
}

.gridHolderModified2 > div, .gridHolderModified > div{
	border:var(--border);
}

.applicantOptions{
	visibility: visible;
}

}

.editDeleteOptions{
	position: absolute;
	bottom: 0px;
}

.spareDiv2{
	height: 60px;
}



.editDeleteOptions button{
	width: 100%;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.flex-item{
	 text-align: center;
	 border-radius: 15px;
	 margin: 5px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 padding-left: 10px;
	 padding-right: 10px;
	 border: 2px solid var(--fontSize17Color);
}

.attractive-table {
  border-collapse: collapse;
}

.attractive-table th,
.attractive-table td {
  border: 2px solid #ddd;
  padding: 8px;
}

.attractive-table th {
  background-color: #f2f2f2;
  color: #333;
}
button{
	font-weight: bold;
}

.overlayHeader{
	position: sticky;
	top: 0px;
	background: var(--bgColorOfCards);
}

.simpleFlexItem{
	padding-right: 15px;
}

.smallCircle{
	height: 3px;
	width: 3px;
	top:50%;
	margin-left: 7px;
	border-radius: 50%;
	background: var(--colorOfBody);
}

.viewApplicantHolder{
	bottom: 15px;
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);

}

.simpleButton{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-radius: 15px;
	border: 2px solid var(--fontSize17Color);
	color: var(--fontSize17Color);
	font-weight: bold;
	transition-delay: 0.1s;

}

.spareDiv{
	height: 70px;
}

.simpleButton:hover{
	background: green;
	color: white;
	cursor: pointer;
}

.btnPrimaryMyOwn{
	background: blue;
}

.emptyContentImage{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 10px;
}

.loadingSignHolder{
	margin-top: 50px;
	text-align: center;
}

.loadingSign{
	font-size: 25px;
	color: var(--colorOfBody);
	opacity: 0.9;
}

.disabled{
	opacity: 0.5;
	cursor: not-allowed;
	  pointer-events: none;

}

.myOwnBadge{
	color:white;
	background: green;
	font-size: 12px;
	padding: 3px;
	border-radius: 5px;
}

.editDeleteOptions{
	display: none;
}

.jobMainInfoClone .spareDiv2{
	display: none;
}

.jobMainInfoClone:hover .editDeleteOptions{
	display: block;
}

.jobMainInfoClone:hover .spareDiv2{
	display: block;
}

.rotateAnimation{
	animation: rotate189 1s;
}

@keyframes rotate189{
	from{
		transform: rotateY(0deg);
	}

	to{
		transform: rotateY(180deg);
	}
}

.navLinksHolder:not(.activeNavLink){
	cursor: pointer;
}



.nav-flex-item{
	padding:2px 10px 2px 10px;
	border:1px solid var(--fontSize17Color);
}



.activeNavLink{
	background: green;
	color:white;
}

.successIcon, .dangerIcon{
	padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.successIcon{
	color: white;
	background: green;
	border: 2px solid var(--fontSize17Color);

}

.dangerIcon{
	border: 2px solid red;

	background: red;
	color: white;
	margin-left: 5px;
}

.successIcon:hover{

	color: var(--fontSize17Color);
    background: none;
}

.dangerIcon:hover{
	color: red;
	background: none;

}


.applicantOptions{
	justify-content: flex-end;
		  flex: 1 1 auto;

}
